<h1>Sakey Family Members</h1>
<ul>
  <% @people.each do |person| %>
    <li>
      <%= link_to person.name, person_path(person.id) %><br>
      <%= person.birthday.to_formatted_s(:birthday) %>
    </li>
  <% end %>
</ul>

