<h1><%= @person.name %></h1>
<ul>
  <% @gifts.each do |gift| %>
    <li>
      <%= gift.name %><br>
      <%= gift.descript %><br>
      <% if gift.bought %>
        this gift has been bought
      <% else %>
        this gift has not been bought
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to 'People', people_path %>
